html, body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #7beec7 white;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: #7beec7;
    border-radius: 20px;
    border: 3px solid white;
}

.errorInput {
    color: red !important;
}

@keyframes isFetched {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(20px);
        opacity: 0;
    }
}

.isFetched {
    animation: .25s ease forwards isFetched;
}