@mixin header_top__menu___line($width: 31px, $margin-top: 0) {
    width: $width;
    height: 1px;
    background-color: #676775;
    margin-top: $margin-top;
}

@mixin greenBlock($width: 99px, $height: 30px) {
    width: $width;
    height: $height;
    background-color: #7beec7;
    @content
};

@mixin information($width: 540px, $margin: 30px 0 0 0, $text-align: center, $line-height: 24px, $font-size: 16px) {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #60606e;
    width: $width;
    margin: $margin;
    text-align: $text-align;
    font-size: $font-size;
    line-height: $line-height;
    @content
};

@mixin button(
    $background-color: #7beec7,
    $color: #ffffff,
    $width: 165px,
    $height: 50px,
    $margin: 27px 0 0 0,
    $align-self: flex-end
) {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: $align-self;
    transition: .25s ease-out;
    transition-property: color, background-color;
    cursor: pointer;
    width: calc($width - 2px);
    height: calc($height - 2px);
    border: 2px solid $background-color;
    background-color: $background-color;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color;
    margin: $margin;
    padding: 0;
    @content
};

@mixin title($font-size: 14px, $line-height: 18px) {
    font-family: Montserrat, sans-serif;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 700;
    text-transform: uppercase;
    color: #60606e;
    @content
};