.mainAboutUs_secondGroup__options {
    margin-top: 100px;
    max-width: 1139px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 52px 34px;
    flex-wrap: wrap;

    @media screen and ( max-width: 750px ) {
        max-width: 95%;
        flex-direction: column;
        gap: 52px 0;
        flex-wrap: nowrap;
    }

    @media screen and ( min-width: 750px ) and ( max-width: 1024px ) {
        gap: 52px 34px;
        justify-content: center;
    }

    @media screen and ( min-width: 1025px ) and ( max-width: 1170px ) {
        gap: 52px 20px;
        justify-content: center;
    }
}