@use "../../mixins.scss" as m;

.mainAboutUs_thirdGroup__underTeam {
    margin-top: 29px;
    width: 1080px;
    padding: 0 30px;
    height: 150px;
    background-color: rgba(96,96,110,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and ( max-width: 750px ) {
        width: 100%;
        height: auto;
        padding: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    @media screen and ( min-width: 750px ) and ( max-width: 1024px ) {
        width: calc( 100% - 60px );
        justify-content: space-around;
    }

    @media screen and ( min-width: 1025px ) and ( max-width: 1170px ) {
        width: calc( 100% - 60px );
        max-width: 1080px;
        justify-content: space-around;
    }

    .mainAboutUs_thirdGroup__underTeam___button {
        @include m.button(
            $margin: 0,
            $align-self: auto
        );

        @media screen and ( max-width: 750px ) {
            margin: 30px 0;
        }
    }
}