@use "../../mixins.scss" as m;

.mainContact_conteiner__left___form {
    max-width: 563px;
    display: flex;
    flex-wrap: wrap;
    gap: 31px 29px;

    @media screen and ( max-width: 750px ) {
        width: 80%;
        gap: 31px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .mainContact_conteiner__left___input {
        padding-left: 19px;
        width: 244px;
        height: 49px;
        background-color: #fefcf9;
        border: 1px solid rgba(0,0,0,0.09);
        outline: none;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        line-height: 48px;
        font-weight: 700;
        text-transform: uppercase;
        color: #cdcdcd;
    
        @media screen and ( max-width: 750px ) {
            width: calc(100% - 19px);
        }
    
        &::placeholder {
            font-family: Montserrat, sans-serif;
            font-size: 12px;
            line-height: 48px;
            font-weight: 700;
            text-transform: uppercase;
            color: #cccccc;
        }
    }
    
    .mainContact_conteiner__left___inputLarge {
        width: 535px;
        padding-left: 20px;
    
        @media screen and ( max-width: 750px ) {
            width: calc(100% - 20px);
        }
    }

    .mainContact_conteiner__left___form____button {
        @include m.button(
            $width: 165px,
            $height: 50px,
            $margin: 0,
            $align-self: auto
        );
    }
}

.message_contact {
    margin: 35px 0 0 0;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
}