.mainBlog_body__item___writeComment____commentInput {
    padding: 5px 20px;
    outline: none;
    width: calc(100% - 46px);
    max-width: 654px;
    background-color: transparent;
    border: 3px solid #7beec7;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    color: #999999;
}