.mainBlog_body__item___description {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;

    @media screen and ( max-width: 750px ) {
        text-align: center;
    }
}