.mainBlog_body__item___under____date {
    width: 166px;
    height: 30px;
    background-color: #7beec7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}