.mainBlog_column__item___posts____main_____item______comments {
    transition: transform .25s linear;
    min-width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #9a9a9a;
}