.mainBlog_body__item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and ( max-width: 750px ) {
        align-items: center;
        min-width: 90%;
        max-width: 90%;
    }

    .mainBlog_body__item___img {
        @media screen and ( max-width: 1180px ) {
            width: 100%;
            max-width: 100%;
        }
    }
}