@use "../mixins.scss" as m;

.header_center__greenBlock {
    @include m.greenBlock() {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Montserrat, sans-serif;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        color: #60606e;
    }
}