@use "../mixins.scss" as m;

.header_top__menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @for $header_line from 1 through 3 {
        .header_top__menu___line:nth-child(#{$header_line}) {
            @if $header_line == 1 {
                @include m.header_top__menu___line()
            } @else if $header_line == 2 {
                @include m.header_top__menu___line($width: 15px, $margin-top: 6px)
            } @else {
                @include m.header_top__menu___line($width: 23px, $margin-top: 6px)
            }
        }
    }
}