.header_down__right {
    margin: 29px 0 0 128px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and ( max-width: 750px ) {
        margin: 29px 0 0 0;
        align-items: center;
    }

    @media screen and ( min-width: 750px ) and ( max-width: 1024px ) {
        margin: 29px 0;
        align-items: center;
    }

    @media screen and ( min-width: 1025px ) and ( max-width: 1170px ) {
        margin: 29px 0 0 50px;
    }
}