.main_thirdGroup {
    margin-top: 149px;
    padding-top: 50px;
    width: 100%;
    height: 330px;
    background-color: #7beec7;

    @media screen and ( max-width: 750px ) {
        height: auto;
    }

    @media screen and ( min-width: 750px ) and ( max-width: 1024px ) {
        height: auto;
    }
}