@use "../mixins.scss" as m;

.titleOfGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .information {
        @include m.information(719px, 29px 0 0 0, $font-size: 14px)
    }
}