.main_secondGroup {
    margin-top: 189px;

    .main_secondGroup_titleOfGroup_title_greenBlock {
        top: 18px;
    }

    .main_secondGroup_titleOfGroup_information {
        width: 767px;

        @media screen and ( max-width: 750px ) {
            width: 95%;
        }

        @media screen and ( min-width: 750px ) and ( max-width: 1024px ) {
            width: 95%;
            max-width: 719px;
        }
    }
}